#forms input{
    width:380.8px;
    height:30px;
}

#years{
    padding:2px;
    margin-left:10px;
    height:30px;
    width:70px !important;
}

#submit-button{
    width:auto !important;
}

#checkboxes input{
    width:15px !important;
    height:15px;
}

#checkboxes label{
    padding:0px 15px 2px 0px;
}


#radios input{
    width:15px !important;
    height:15px;
}

#radios .custom-control-label{
    margin-right: 15px;
}

#radios .custom-radio{
    display:inline;
}